/* Demo styles */

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    
    font-size: 18px;
    background: #fcf3e2;  
}
.swiper-slide h2{
    text-align: center;
}

.first-slide{
    width: 100%;
    height: 100%;
    background: url(../img/timg.jpeg);
    color: #b9a9aa;
}
.first-slide ul{
    list-style: none;
}
.first-slide ul li a{
    text-decoration: none;
    color: #d17580;
}








